{% extends 'base.html' %}

{% block content %}
    <div class="border border-black m-5 bg-light">
      <h1 class="fs-1 p-5">Factura Reserva</h1>
      <div class="text-start ps-5 mb-5">
        <h1 class="fs-5 ">Hotel Inacap</h1>
        <h1 class="fs-5 ">Almirante Barroso 76</h1>
        <h1 class="fs-5 ">Santiago Centro</h1>
      </div>
      <div class="row">
        <section class="col-6">
          <div class="text-start ms-5 border border-black">
            <h1 class="fs-5">Razón Social: {{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}</h1>
            <h1 class="fs-5">RUT (DNI): {% if extra_user.rut %}{{ extra_user.rut }}{% else %}...{% endif %}</h1>
          </div>
        </section>
        <section class="col-6">
          <div class="text-end pe-5">
            <h1 class="fs-5">Factura #{{ reserva.id }}</h1>
            <h1 class="fs-5">Fecha: {{ reserva.fecha_inicio }}</h1>
          </div>
        </section>
      </div>
      <table class="mt-5 mb-5 container border border-black table table-striped-columns">
        <tr>
          <th>Habitacion</th>
          <th>Tipo</th>
          <th>Fecha Inicio</th>
          <th>Fecha Termino</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>{{ reserva.habitacion.numero }}</td>
          <td>{{ reserva.habitacion.tipo }}</td>
          <td>{{ reserva.fecha_inicio }}</td>
          <td>{{ reserva.fecha_termino }}</td>
          <td>{{ reserva.neto }}</td>
        </tr>
      </table>
      <div class="text-end pe-5">
        <h1 class="fs-5">Neto ${{ reserva.neto }}</h1>
        <h1 class="fs-5">IVA (19%) ${{ reserva.iva }}</h1>
        <h1 class="fs-5">Total ${{ reserva.total }}</h1>
      </div>
      <h1 class="fs-3">Notas Adicionales</h1>
      <div class="border-top border-black ms-5 me-5 mb-5">
        <p class="fs-5 mb-5">...</p>
      </div>
    </div>
    <a class="btn btn-success mb-5 col-3 fs-5" href="#">Descargar Factura</a>
{% endblock %}