{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static 'js/fecha.js' %}"></script>
<form class="row m-4 mt-5 ps-5" method='post'>
  {% csrf_token %}
  <input type="hidden" name="adultos" value="{{ adultos }}">
  <input type="hidden" name="ninos" value="{{ ninos }}">
  <input type="hidden" name="fecha_inicio" value="{{ fecha_inicio }}">
  <input type="hidden" name="fecha_termino" value="{{ fecha_termino }}">
  <input type="hidden" name="personas" value="{{ personas }}">
  <input type="hidden" name="noches" value="{{ noches }}">
  <div id="der" class="col-8 border border-secondary-subtle rounded">
    <div class="row m-5">
      <h1 class="display-1 fs-1">Elige tu habitacion</h1>
      {% if habitaciones %}
        {% for habitacion in habitaciones %}
          <button type="submit" name="reservar_habitacion" value="{{ habitacion.numero }}" class="col-12 text-decoration-none text-dark border-0 bg-white">
            <section class="border border-secondary rounded m-2">
              <h1 class="fs-4 bg-warning p-2">Habitacion {{ habitacion.numero }}</h1>
              <p class="text-start fs-5 ms-3">Tipo: {{ habitacion.tipo }}</p>
              <p class="text-start fs-5 ms-3">Personas: {{ habitacion.personas }}</p>
              <p class="text-start fs-5 ms-3">Valor por Noche: ${{ habitacion.valor }}</p>
            </section>
          </a>
        {% endfor %}
      {% else %}
        <h1 class="mt-5 fs-3">No se han encontrado habitaciones acorde a tu preferencia...</h1>
      {% endif %}
      {% if otras %}
        <h1 class="mt-5 display-1 fs-1">Otras opciones...</h1>
        {% for habitacion in otras %}
        <button type="submit" name="reservar_habitacion" value="{{ habitacion.numero }}" class="col-12 text-decoration-none text-dark border-0 bg-white">
            <section class="border border-secondary rounded m-2">
              <h1 class="fs-4 bg-warning p-2">Habitacion {{ habitacion.numero }}</h1>
              <p class="text-start fs-5 ms-3">Tipo: {{ habitacion.tipo }}</p>
              <p class="text-start fs-5 ms-3">Personas: {{ habitacion.personas }}</p>
              <p class="text-start fs-5 ms-3">Valor por Noche: ${{ habitacion.valor }}</p>
            </section>
          </a>
        {% endfor %}
      {% else %}
      <h1 class="mt-5 fs-5">Actualmente no tenemos mas opciones disponibles...</h1>
      {% endif %}
    </div>
  </div>
  <div id="izq" class="col-4 position-fixed top-1 end-0">
    <div class="bg-warning bg-opacity-25 rounded ms-5 me-5 pt-5 pb-5">
      <h1 class="display-1 fs-1">Detalle Reserva</h1>
      <div class="bg-white border border-secondary rounded m-5 pt-3 ps-3 pe-3">
        <h1 class="fs-4">Especificaciones</h1>
        <section class="text-start display-1 fs-5 row">
          <p class="col-6 pt-2 border-top border-secondary-subtle">Adulto(s):</p>
          <p class="col-6 pt-2 border-top border-secondary-subtle text-end">{{ adultos }}</p>
          <p class="col-6 pt-2 border-top border-secondary-subtle">Nino(s):</p>
          <p class="col-6 pt-2 border-top border-secondary-subtle text-end">{{ninos}}</p>
          <p class="col-6 pt-2 border-top border-secondary-subtle">Noche(s):</p>
          <p class="col-6 pt-2 border-top border-secondary-subtle text-end">{{ noches }}</p>
          <!-- <p class="col-6 pt-2 border-top border-secondary fw-bold">Total:</p>
          <p class="col-6 pt-2 border-top border-secondary">$Aprox</p> -->
        </section>
      </div>
      <!-- <button type="submit" class="btn btn-warning fs-5 text-decoration-none">Continuar</button> -->
    </div>
  </div>
</form>
{% endblock %}